@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap');
body {
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(1, 1, 1, 0.9), rgba(1, 1, 1, 0.9)), url(https://i.pinimg.com/originals/51/95/eb/5195ebb8c5f9772deda82aa2937134d3.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	overflow: hidden;
}

h1 {
	font-family: 'Press Start 2P', cursive;
 	font-size: 25px;
 	animation: 6s rgbA infinite;
}

h2 {
	font-size: 30px;
}

p {
	font-family: 'Source Code Pro', monospace;
}

.colection {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.colection a {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.colection a:hover {
	opacity: 0.7;
}

.colection img {
	width: 20%;
	height: 250px;
}

/* animations */
@keyframes fadeOut {
  0%   { opacity:1; }
  100% { opacity:0; z-index: 0; }
}

@keyframes spin {
	100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
	0%   { opacity:0; }
  	100% { opacity:1; }
}

@keyframes rgbA {
	0%   { text-shadow: 0px 0px 20px #9400D3; }
	20%  { text-shadow: 0px 0px 20px #0000FF; }
	40%  { text-shadow: 0px 0px 20px #00FF00; }
	60%  { text-shadow: 0px 0px 20px #FFFF00; }
	80%  { text-shadow: 0px 0px 20px #FF7F00; }
	100% { text-shadow: 0px 0px 20px #FF0000; }
}

/* loading */
.loader {
	position: absolute;
	background: #121212;
	width: 100%;
	height: 100%;
	animation: fadeOut 0.5s ease-out 1.5s forwards;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.loader h1{
	align-self: center;
}

.spin {
	width: 70px;
	height: 70px;
	border: 15px solid #45474b;
	border-radius: 50%;
	border-top-color: white;
	align-self: center;
	animation: spin 1.5s linear;
}

/* menue */

.sidebar {
	width: 15%;
	height: 100%;
	position: absolute;
	right: 0;
	background: #121212;
	display: flex;
	flex-direction: column;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: space-evenly;
}

.sidebar h1 {
 	font-size: 15px;
 	animation: none;
}

.sidebar img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
}

.sidebar li {
	text-decoration: none;
	color: #383A3B;
	font-size: 20px;
	list-style: none;
}

.navbar {
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.navbar li:hover, .sidebar li.active {
	color: white;
	text-decoration: underline;
}

.navbar li:hover {
	cursor: pointer;
}

.tab-contents {
	width: 85%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	animation: fadeIn 2s;
}

/* home */
#home {
	height: 60%;
}

#home img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	border: 2px solid white;
}

/* who am i */
#who {
	height: 30%;
}


/*skills*/
.skill {
	border-radius: 15px;
  text-align: center;
  padding: 8px;
  margin: 4px;
}

.skill i {
	 font-size: 40px;
}

.skill i:hover {
	opacity: 0.7;
}

.skill h3 {
	font-weight: 700!important;
	font-family: 'Source Code Pro', monospace;
}

/* xp */
#xp {
	height: 90%;
}

#xp table {
	font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#xp table td, #xp table th {
	border: 1px solid #ddd;
  padding: 15px;
}

#xp table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

#xp a {
	text-decoration: none;
	color: white;
}

#xp a:hover {
	opacity: 0.7;
}
.achivement {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.achivement img {
	width: 500px;
	border-radius: 10%;
}

/* about me */
#about ul {
	align-self: flex-start;
	font-size: 15px;
	font-family: 'Source Code Pro', monospace;
}

#about ul li {
	padding: 10px;
}

/* contcts */
#contacts {
	height: 90%;
}
form {
	width: 80% ;
	height: 100%;
	color: #fff;
	border: 1px dashed white;
	border-radius: 10%;
	display: flex;
	justify-content: space-evenly;
	padding: 5%;
}
.form {
	width: 60%;
	height: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding: 5%;
}
.form p {
	align-self: flex-start;
}

.form input[type = "text"], input[type = "password"]{
	width: 100%;
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 5vh;
	color: #fff;
	font-size: 18px;

}

.form textarea {
	width: 100%;
	font-size: 18px;
	resize: none;
	height: 70px;
}

.form input[type = "submit"]
{
	border: none;
	outline: none;
	height: 50px;
	width: 30%;
	background: #04AA6D;
	margin-top: 5%;
	color: #fff;
	border-radius: 2vw;
}
.form input[type = "submit"]:hover {
	opacity: 0.7;
}

.otherContacts {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-left: 1px solid white;
	padding: 5%;
}
.otherContacts a {
	padding: 20px;
	font-size: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
}

.otherContacts a:hover {
	opacity: 0.7;
}